h1{
  color: white;}
h2{
  color: white;}
p{
  color: white;
  font-family: "bold";}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;}
body{
  background-image: url("https://pm1.narvii.com/7357/01abe125efcc3643f310d7f03d0888b798339227r1-480-672v2_hq.jpg");
   background-color: black;
   background-size: cover;
   background-repeat: no-repeat;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
   text-align: center;
}
