h1{
  color: white;}
h2{
  color: white;}
p{
  color: white;
  font-family: "bold";}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;}
body{
  background-image: url("https://images.app.goo.gl/9eAAVDjoP1GZTDRi9");
   background-color: black;
   background-size: cover;
   background-repeat: no-repeat;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
   text-align: center;
}
